<div style="margin-right: 15px; margin-left: 15px; margin-top: 15px">
  <mat-toolbar color="primary">
    Twitter Bot Admin V1.0
  </mat-toolbar>
</div>
<div style="margin-right: 55px; margin-left: 55px; margin-top: 35px">
  <mat-card>
    <mat-card-header>
      <mat-progress-bar mode="indeterminate" *ngIf="response?.result =='processing'"></mat-progress-bar>
    </mat-card-header>
    <mat-card-content>
      <div style="text-align: center; margin-top: 20px">
        <h3 *ngIf="response?.result != 'processing'">Bot status :</h3>
        <mat-slide-toggle color="primary" [(ngModel)]="serverStatus" (change)="onSwitchServer()">{{serverStatus?'ON':'OFF'}}</mat-slide-toggle>
      </div>
    </mat-card-content>
  </mat-card>
</div>
<div fxLayout style="margin-right: 55px; margin-left: 55px; margin-top: 35px; justify-content: space-between;">
  <mat-card style="width: 100%">
    <div >
      <form class="example-form" style="margin: 0 auto" [formGroup]="usersForm">
        <div style="margin-top: 35px">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Users list : </mat-label>
            <textarea #users matInput rows="20" formControlName="users"></textarea>
          </mat-form-field>
        </div>
        <button mat-raised-button (click)="onSaveUsers()" [disabled]="users.value.length == 0" >
          <span>Save</span>
        </button>
      </form>
    </div>
  </mat-card>
  <mat-card style="width: 100%">
    <div >
      <form class="example-form" style="margin: 0 auto" [formGroup]="paramsForm">
        <div style="margin-top: 35px">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Keyword list : </mat-label>
            <textarea #keywords matInput rows="20" formControlName="keywords"></textarea>
          </mat-form-field>
        </div>
        <button mat-raised-button (click)="onSaveKeywords()" [disabled]="keywords.value.length == 0">
          <span>Save</span>
        </button>
      </form>

    </div>
  </mat-card>
</div>

