<div class="container">
<mat-card>
    <mat-card-title>Login</mat-card-title>
    <mat-card-content>
        <form (ngSubmit)="login(username.value, password.value)">
            <p>
                <mat-form-field>
                    <input #username type="text" matInput placeholder="Username" formControlName="username">
                </mat-form-field>
            </p>

            <p>
                <mat-form-field>
                    <input #password type="password" matInput placeholder="Password" formControlName="password">
                </mat-form-field>
            </p>

            <p *ngIf="error" class="error">
                {{ error?.message }}
            </p>

            <div class="button">
                <button color="primary" type="submit" mat-button>Login</button>
            </div>

        </form>
    </mat-card-content>
</mat-card>
</div>
